<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Primeiro passo flask</title>
</head>
<body>
    <h1>Passo 2 - Enviar formulário para o Flask</h1>
    <form action="/enviar" method="POST">
        <label for="nome">Digite seu nome:</label>
        <input type="text" id="nome" name="nome" required>
        <button type="submit">Enviar</button>
    </form>

    <h1>Passo 3 - Enviar imagem para o Flask</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="imagem">Escolha uma imagem:</label>
        <input type="file" id="imagem" name="imagem" accept="imagem/*" required>
        <button type="submit">Enviar</button>
    </form>

    <h1>Passo 4 e 5- Enviar imagem e coordenadas</h1>
    <form action="/recortar" method="POST" enctype="multipart/form-data">
        <div>
            <label for="imagem">Escolha uma imagem:</label>
            <input type="file" id="imagem" name="imagem" accept="image/*" required>
        </div>

        <div>
            <label for="x">X:</label>
            <input type="number" id="x" name="x" required>
        </div>

        <div>
            <label for="y">Y:</label>
            <input type="number" id="y" name="y" required>
        </div>

        <div>
            <label for="w">Largura:</label>
            <input type="number" id="w" name="w" required>
        </div>

        <div>
            <label for="h">Altura:</label>
            <input type="number" id="h" name="h" required>
        </div>

        <div>
            <label for="nome_saida">Nome do novo arquivo: </label>
            <input type="text" id="nome_saida" name="nome_saida" required>
        </div>

        <button type="submit">Enviar</button>
    </form>

    <h1>Passo 6 - Responder sem trocar de página</h1>
    <form id="formRecorte">
        <div>
            <label>Imagem:</label>
            <input type="file" name="imagem" accept="image/*" required>
        </div>

        <div>
            <label>X:</label>
            <input type="number" name="x" required>
        </div>

        <div>
            <label>Y:</label>
            <input type="number" name="y" required>
        </div>

        <div>
            <label>Largura:</label>
            <input type="number" name="w" required>
        </div>

        <div>
            <label>Altura:</label>
            <input type="number" name="h" required>
        </div>

        <div>
            <label>Nome do arquivo de saída: </label>
            <input type="text" name="nome_saida" required>
        </div>

        <button type="submit">Enviar para recorte</button>

    </form>

    <p id="resultado"></p>

    <script>
        const form = document.getElementById("formRecorte");
        const resultado = document.getElementById("resultado");

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const dados = new FormData(form);

            const resposta = await fetch("/recortar",{
                method: "POST",
                body: dados
            })

            const json = await resposta.json();

            if (resposta.ok) {
                resultado.textContent = `Sucesso: ${json.mensagem} ${json.arquivo}`
            }
            else{
                resultado.textContent = `Erro: ${json.erro}`;
            }
        })

    </script>

</body>
</html>